<!-- INCLUDE overall_header.html -->
<!-- INCLUDE forumlist_body.html -->
<div class="row">
    <div class="col-md-12">
        <div class="col-md-6">
            <!-- IF S_DISPLAY_ONLINE_LIST -->
            <!-- IF U_VIEWONLINE -->
            <div class="side-segment">
                <h3><a href="{U_VIEWONLINE}">{L_WHO_IS_ONLINE}</a></h3></div>
            <!-- ELSE -->
            <div class="side-segment">
                <h3>{L_WHO_IS_ONLINE}</h3></div>
            <!-- ENDIF -->
            <p>{TOTAL_USERS_ONLINE} ({L_ONLINE_EXPLAIN})
                <br />{RECORD_USERS}
                <br />
                <br />{LOGGED_IN_USER_LIST}
                <!-- IF LEGEND -->
                <br /><small>{L_LEGEND}: {LEGEND}</small>
                <!-- ENDIF -->
            </p>
            <!-- ENDIF -->
            <!-- IF S_DISPLAY_BIRTHDAY_LIST and BIRTHDAY_LIST -->
            <div class="side-segment">
                <h3>{L_BIRTHDAYS}</h3></div>
            <p>
                <!-- IF BIRTHDAY_LIST -->{L_CONGRATULATIONS}: <strong>{BIRTHDAY_LIST}</strong>
                <!-- ELSE -->{L_NO_BIRTHDAYS}
                <!-- ENDIF -->
            </p>
            <!-- ENDIF -->
        </div>
        <div class="col-md-6">
            <!-- IF NEWEST_USER -->
            <div class="side-segment">
                <h3>{L_STATISTICS}</h3></div>
            <p>{TOTAL_POSTS} &bull; {TOTAL_TOPICS} &bull; {TOTAL_USERS} &bull; {NEWEST_USER}</p>
            <!-- ENDIF -->
        </div>
    </div>
</div>
<!-- INCLUDE overall_footer.html -->
