<!-- BEGIN top_five_topic -->
<div class="recent-topic text-overflow">
	<a href="#" class="blogImage" data-original-title="" title="">{top_five_topic.TOP5_AVATAR}</a>
	<!-- IF top_five_topic.NO_TOPIC_TITLE-->{top_five_topic.NO_TOPIC_TITLE}<!-- ELSE -->
	<a href="{top_five_topic.U_TOPIC}" title="{top_five_topic.TOPIC_TITLE}"><i class="fa fa-mail-forward text-muted"></i> {top_five_topic.TOPIC_TITLE}</a>
	<p><i class="fa fa-user"></i> {top_five_topic.USERNAME_FULL}</p>
	<p><i class="fa fa-clock-o"></i> {top_five_topic.LAST_TOPIC_TIME}</p>
	 <!-- ENDIF -->
</div>
<!-- END top_five_topic -->